<div id="login-container">
  <div>
    <h1>Log in</h1>
    <div>
      <form action="/login" method="post" id="formlogin">
        <input type="text" name="username" placeholder="Username"></label>
        <input type="password" name="password" placeholder="Password"></label>
        <input type="submit" value="Login">
      </form>
    </div>
  </div>
</div>